/* Target the legend container */
.g2-legend {
    padding: 1px;
    border: 1px solid #ddd;
    background-color: #f2f2f2;
    border-radius: 5px;
}

/*Style the legend items (labels and markers) */
.g2-legend-item {
    margin: 5px;
    font-size: 16px;
}

/* Style the legend item markers */
.g2-legend-item-marker {
    width: 20px;
    height: 20px;
    margin-right: 5px;
    border-radius: 50%;
    /* Add any other styles you want */
}

g2-html-annotation:nth-child(2) div {
    word-break: break-all !important;
}

.g2-html-annotation:nth-child(3) div {
    font-family: "Roboto Slab", sans-serif !important;
}

/* carousel */

.slick-list {
    overflow: visible !important;
}

.slick-slide > div:has(.income-chart) {
    display: flex;
    justify-content: flex-end;
}

.slick-slide {
    padding: 0 8px !important;
}

.slick-slide > div {
    border-radius: 16px !important;
    box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15) !important;
}

.slick-slider {
    position: relative;
}

.slick-slider .slick-dots {
    /*background-color: red;*/
    display: flex !important;
    align-items: center !important;;
    justify-content: center !important;
    gap: 16px;
    z-index: 10;
    height: 10px !important;
    padding: 0 !important;
}

.ant-carousel .slick-dots-top {
    top: 24px !important;
    bottom: auto;
}

.slick-slider .slick-dots li {
    border: 1px solid #595959;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-inline: 0;
    opacity: 100%;
    overflow: hidden;
}

.slick-slider .slick-dots li button {
    background-color: transparent !important;
    width: 100%;
    height: 100%;
}

.slick-slider .slick-dots li.slick-active {
    background-color: #595959;
    height: 10px;
    width: 36px;
    border-radius: 10px;
    margin-inline: 0;
    opacity: 100%;
}
